ipykernel==7.1.0
ipython==9.8.0
jinja2==3.1.6
jsonargparse==4.46.0
jupyter-client==8.7.0
jupyter-core==5.9.1
matplotlib==3.10.8
numpy
pytorch-lightning==2.6.1
tqdm

# use PyTorch wheel index for CUDA 13.0
--extra-index-url https://download.pytorch.org/whl/cu130
# specify the cuda-enabled build
torch==2.10.0+cu130